@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}
/* 
  Aplica estilos por defecto al <body>:
  font-primary: JetBrains Mono
  bg-primary: #1c1c22
  text-white
  leading-loose: interlineado cómodo


*/
